
@{
    ViewBag.Title = "FillUpEvaluationForm";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UACompatible" content="=" IE="edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico" />
    <script src="~/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Fill-up Form</title>
</head>
<body>
    <!--Nav Bar-->
    @Html.Partial("../Shared/_InactiveNavbar")

    <div class="container">
        <!--Form-->
        <form class="form-horizontal">
            <h1 class="text-center">
                Form Title
            </h1>

            <!--Information-->
            <h3>
                Introduction and Work Summary
            </h3>

            <div class="form-group">
                <!--Name and Review Period-->
                <label for="inputRevieweeName" class="col-xs-3 control-label">Reviewee's Name</label>
                <div class="col-xs-3">
                    <input type="text" id="inputRevieweeName" class="form-control" placeholder="Reviewee's' Name" required autofocus>
                </div>
                
                <label for="reviewPeriod" class="col-xs-3 control-label">Review Period</label> <!--Make Dropdown (New Hire 3rd Month Review, New Hire 4th Month Review, Midyear Review, Year-End Review)-->
                <div class="dropdown col-xs-3">
                    <button id="review-period" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Review Period
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-review-period" class="dropdown-menu" role="menu" aria-labelledby="review-period">
                        <li role="presentation"><a role="menuitem">New Hire 3rd Month Review</a></li>
                        <li role="presentation"><a role="menuitem">New Hire 4th Month Review</a></li>
                        <li role="presentation"><a role="menuitem">Midyear Review</a></li>
                        <li role="presentation"><a role="menuitem">Midyear Review</a></li>
                    </ul>
                </div>
            </div><!--end Name and Review Period-->

            <div class="form-group">
                <!--Position and Group-->
                <label for="group" class="col-xs-3 control-label">Group/Team</label>
                <div class="col-xs-3">
                    <input type="text" id="group" class="form-control" placeholder="Group/Team" required autofocus>
                </div>

                <label for="currentPosition" class="col-xs-3 control-label">Current Position</label>
                <div class="dropdown col-xs-3">
                    <button id="position" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Position
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-position" class="dropdown-menu" role="menu" aria-labelledby="position">
                        <li role="presentation"><a role="menuitem">12 - Individual Contributor</a></li>
                        <li role="presentation"><a role="menuitem">11 - Individual Contributor</a></li>
                        <li role="presentation"><a role="menuitem">10 - Individual Contributor</a></li>
                        <li role="presentation"><a role="menuitem">9 - Individual Contributor</a></li>
                        <li role="presentation"><a role="menuitem">9 - Team Lead</a></li>
                        <li role="presentation"><a role="menuitem">8 - Sr. Developer</a></li>
                        <li role="presentation"><a role="menuitem">8 - Sr. Team Lead</a></li>
                        <li role="presentation"><a role="menuitem">8 - Jr. Architect</a></li>
                        <li role="presentation"><a role="menuitem">7 - Manager</a></li>
                        <li role="presentation"><a role="menuitem">7 - Architect/Manager</a></li>
                        <li role="presentation"><a role="menuitem">7 - Architect</a></li>
                    </ul>
                </div>
            </div><!--end Position and Group-->
            <!--end Information-->

            <!--Legend-->
            <div>
                <table id="legend" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                        </tr>     
                        <tr>
                            <th colspan="4">
                                Rating Scale per Goal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>4 - Exceeds Target</td>
                            <td>3 - Within Target</td>
                            <td>2 - Below Targer</td>
                            <td>1 - Unsatisfactory</td>
                            <td>0 - No Basis</td>
                        </tr>
                    </tbody>
                 
                </table>
            </div><!--End Legend-->

            <!--Evaluation-->
            <h3>
                I. Evaluation
            </h3>
            <h4>
                A. Results Leader
            </h4>

            <div class="form-group">
                <table id="evaluation" class="table" border="1">
                    <thead>
                        <tr>
                            <th class="col-xs-6"></th>
                            <th class="col-xs-3"><p class="text-center">Self-Rating</p></th>
                            <th class="col-xs-3"><p class="text-center">Supervisor's Rating</p></th>
                        </tr>
                        <tr>
                            <!--Category-->
                            <th colspan=3><p class="text-uppercase text-center">Accountability</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--Question-->
                            <td>Work on defined and standard tasks with occasional guidance from the lead.</td>
                            <td><!--Self-->
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-1" value="4"> 4      
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-1" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-1" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-1" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-1" value="0"> 0
                                </label>
                            </td>

                            <td><!--Supervisor-->
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-1" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-1" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-1" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-1" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-1" value="0"> 0
                                </label>
                            </td>

                        </tr>
                        <tr>
                            <!--Question-->
                            <td>Can manage own workload by properly prioritizing tasks assigned, consult with lead when in doubt.</td>
                            <td><!--Self-->
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-2" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-2" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-2" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-2" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-Accountablity-2" value="0"> 0
                                </label>
                            </td>

                            <td><!--Supervisor-->
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-2" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-2" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-2" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-2" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-Accountablity-2" value="0"> 0
                                </label>
                            </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <!--Category-->
                            <th colspan=3><p class="text-uppercase text-center">Business Acumen</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--Question-->
                            <td>Quickly identifies critical issues and relevant information</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-1" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-1" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-1" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-1" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-1" value="0"> 0
                                </label>
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-1" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-1" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-1" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-1" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-1" value="0"> 0
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--Question-->
                            <td>Adapts approach to fit specific projects and contents</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-2" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-2" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-2" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-2" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Self-ResultsLeader-BusinessAcumen-2" value="0"> 0
                                </label>
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-2" value="4"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-2" value="3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-2" value="2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-2" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Supervisor-ResultsLeader-BusinessAcumen-2" value="0"> 0
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--end Evaluation-->
            </div>

            <!--Comments on Performance-->
            <h3>
                II. Comments
            </h3>

            <div class="form-group">
                <textarea id="comment" class="form-control" rows="5" required></textarea>
            </div>
            <!--end Comments on Performance-->

            <!--Summary-->
            <h3>
                III. Summary of Results
            </h3>

            <div class="form-group">
                <table id="table-summary" class="table" border="1">
                    <thead>
                        <tr>
                            <th class="col-xs-5" rowspan="2"></th>
                            <th class="col-xs-1" rowspan="2"><p class="text-center">Weight</p></th>
                            <th class="col-xs-3" colspan="2"><p class="text-center">System</p></th>
                            <th class="col-xs-3" colspan="2"><p class="text-center">Supervisor</p></th>
                        </tr>
                        <tr>
                            <th><p class="text-center">Average</p></th>
                            <th><p class="text-center">Computed</p></th>
                            <th><p class="text-center">Average</p></th>
                            <th><p class="text-center">Computed</p></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>Results Leader</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>People Leader</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>Thought Leader</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Developmental Goals</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>100%</td>
                            <td></td>
                            <td>Score</td>
                            <td></td>
                            <td>Score</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Rating</td>
                            <td colspan="2">Rating</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end Summary-->

            <hr />

        </form><!--TEMPORARILY, SHOULD BE AFTER BUTTONS-->
        <!--Buttons-->
        <div class="col-xs-offset-3">
            <button class="col-xs-3 btn bt-lg btn-primary">
                <span class="glyphicon glyphicon-paste"></span> Submit
            </button>

            <button class="col-xs-3 col-xs-offset-3 btn bt-lg btn-default" onclick="@("window.location.href='" + @Url.Action("Summary", "TemplateEvaluationSummary") + "'");">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
            </button>
        </div>
        <br /><br />
        <!--end Buttons-->
    </div><!--end Form-->
</body>

